html
{
    height : 100%;
}

body
{   height : 100%;
    background-color: black;
}


#main1
{   height : 100%;
    display: flex;
    flex-direction: row;
}
#main11
{   background-image: url("../assets/dack.jpg");
    position: relative;
    height : 100% ;
    
}

#main2
{
    
    display: flex;
    flex-direction: column;
}


#pic
{   position: relative;
    margin-top: 0%;
    width: 45vw;  
    height: 100%;  
    text-align: center;  
    border-style:ridge;  
    border: 5px solid blue;
    transform: scale(-1,-1);  
}


#idd
{   
    background-color: black;
    color: white;
    position: fixed;
    margin-top :0%;
    border-style:ridge;
    font-family : Algerian;
    animation: animateHeart 1.2s infinite;
    font-size: 5.0vw; 
    -webkit-text-stroke: 0.08vw green;
}

@font-face {
    font-family: Algerian;
    src: url(../fonts/Algerian\ Regular.ttf);
  }

#dagger
{   
    position: relative;
    margin-top: 12vw;
    margin-left: 2vw;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 50%;
} 

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}


#portfolio
{
    position: relative;
    margin-top: 10%;
    margin-left: 30vw;
    margin-right: 03vw;

}
#contact
{
    position: relative;
    margin-top: 10%;
    margin-left: 3vw;
    margin-right: 30vw;
}

.button
{
    font-size: 18px;
    padding: 15px;
    border: 2px solid #FFF;
    color: #FFF;
    display: block;
    margin: 50px auto;
    background: transparent;
    transition: .2s ease-in-out 0s;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.25);
    background: #FFF;
    color: #000;
    }
 
     @media only screen and  (min-width : 1400px) 
    {
        .ball {
            width: 30px;
            height: 30px;

            border-radius: 50%;
            background-color: purple;
          
            animation: bounce 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }

    }

    @keyframes bounce {
        0%{
          top:100%;
          left:0;
          animation-timing-function: ease-in;
          transform:translateX(0) scale(1);
        }
        
        25%{
          top:85%;
          left:50%;
          animation-timing-function: ease-out;
          transform:translateX(-50%) scale(0.5);
        }
        
        50%{
          top:0;
          left:100%;
          animation-timing-function: ease-in;
          transform:translateX(-100%) scale(1);
        }
        
        75%{
          top:75%;
          left:50%;
          animation-timing-function: ease-out;
          transform:translateX(-50%) scale(1.5);
        }
      
        100% {
          top:0;
          left:0;
          transform:translateX(0) scale(1);
        }
      }
      

@keyframes animateHeart {
  
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  5% {
    transform: rotate(0deg) scale(0.9);
  }
  10% {
    transform: rotate(0deg) scale(0.8);
  }
  15% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(0.8);
  }
}


#id2
{   position: relative;
    margin-top: 40%;
    width: 40%;
    margin-left: 2%;
    background-color: white;
    color: black;
    font-family: cursive;
}

.list
{   margin-left: 4%;
    width: 50%;
    font-size: large;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}
.list2
{   margin-left: 4%;
    width: 75%;
    font-size: large;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}

@media only screen and (max-width: 768px) 
{
    #main1
    {
        flex-direction: column-reverse;
    }
    #dagger{margin-top: 0%;}
    #portfolio{margin-top: 20%; padding: 5%;
    margin-bottom: 0%;}
    #contact{margin-bottom: 3%;}
    #ball{margin-top: 10%;}
    #id2{margin-top: 15%;}
    #main11{height: 60%;}
     #main2{margin-top: 0;}
    #idd{   position: relative;
        margin-top: 15%;
        margin-bottom: 0;
        font-size: 220%;}

}

