html
{
    height: 100%;
}
img{
    position: relative;
    margin-top: 2.5%;
    border-radius: 40%;
}
#imag
{   padding-right: 2%;
    height: 50%;
    width: 100%;
    margin-left: 2%;
}
#imgg{
    display: flex;
    flex-direction: row;
}
body
{
    height: 100%;
    background-color: rgb(175, 175, 175);
}
#imagee
{
    position: relative;
    height:inherit;
    width: inherit;
    margin-left: 0vw;
}
#dagger
{   
    position: relative;
    margin-top: 11vw;
    height: inherit;
    width: inherit;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 50%;
} 
#dagdiv
{   margin-top: 0;
    height: 3rem;
    width: 3 rem;
}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
#d1{
    height: 110%;
    display: flex;
    flex-direction: row;
}
#right
{
position: relative;
margin-left: 5%;
}
#d12
{   position: relative;
    margin-top: 0.5%;
    background-color: black;
    height: 98%;
    width: 30%;
}
#name
{   position: relative;
    margin-top: 2%;
    font-size: 5vw;
    border-style:double;  
    border: 5px solid black;
}
.r
{
    position: relative;
    margin-left: 5%;
    font-size: 3vw;
    color: black;
    text-decoration: underline;
    
}
.l2
{
    position: relative;
    margin-left: 7%;
    font-size: 1.5vw;
    color: black;
    text-decoration: underline;
}
h3
{
    font-size: 2vw;
    border-style:dashed;  
    border: 5px solid black;
}
.left
{   position: relative;
    margin-left: 5%;
    font-size: 3vw;
    color: white;
    text-decoration: underline;
}
.l1
{   position: relative;
    margin-left: 7%;
    font-size: 1.5vw;
    color: white;
    text-decoration: underline;

}

#contact
{
    margin-top: 0.5%;
    margin-bottom: 2%;
}


@media only screen and (max-width: 768px) 
{
    #imgg {
        flex-direction: column;
    }
    #imagee
    {
        margin-left: 00%;
        margin-top: 40%;    
    }
    #contact{
        margin-top: 50%;
    }

    #edu{
        margin-top: 50%;
    }
    .r{
        font-size: 4vw;
    }
    .l2{
        font-size: 3vw;
    }

    #name{
        font-size: 6vw;
    }
    h3{font-size: 3.5vw;}

    .left{
        font-size: 4.8vw;
    }
    .l1
    {   margin-left: 0%;
        font-size: 3vw;
    }
}